<div class="navigation">
  <ul>
    <li><a href="/#/links">Links</a></li>
    <li><a href="/#/shorten">Shorten</a></li>
    <li><a href="#" ng-click="signout()">Sign Out</a></li>
  </ul>
</div>

<div id='container'>
  <form name="shortenForm" ng-submit='addLink()' >
    <input type='url' ng-model='url'>
    <button>Shorten</button>
  </form>
</div>

<div class='newLinkSuccess' ng-show='success'>

  <h4>Success!</h4>
    <div class='title'>{{ link.title }}</div>
    <a href="/api/links/{{ link.code }}" target="_blank">{{ link.base_url + "/" + link.code }} </a>
</div>


